/* html {
	font-size: 1rem;
}

@include media-breakpoint-up(sm) {
	html {
	font-size: 1.2rem;
	}
}

@include media-breakpoint-up(md) {
	html {
	font-size: 1.4rem;
	}
}

@include media-breakpoint-up(lg) {
	html {
	font-size: 1rem;
	}
}
*/

html, body, {
	font-family: 'open sans', 'Helvetica Neve', Helvetica, Arial, sans-serif;
	background-color: #f3f3f4;	
	height: 100%;
}

/*NAVIGATION*/
header, .header-wrapper {
	height: 60px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

#header {
	position: fixed;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
}

#header .nav-menu {
	display: inline-flex;
	vertical-align: baseline;
	text-align: center;
}

#header .nav-menu .nav-item{
	padding: 0px 25px 15px 5px;
}

#header .nav-right {
	display: inline-flex;
	vertical-align: baseline;
}

#header .header-item {
	text-align: center;
	
}

.header-item .nav-menu {
	
}

#header {
	text-transform: capitalize !important;
	font-family: 'PT Sans Narrow', Arial, sans-serif !important;
	font-weight: 700; 
}

#header nav {
	margin-right: 70px;
}

#header a {
	color: #fff !important;
	opacity: 1;
}

#header ul .dropdown-menu {
	background-color: #f3f3f4 !important;
}

#header ul .dropdown-item {	
	color: black !important;
}

#header ul .dropdown-item:hover {
	background-color: rgba(0,0,0,0.5);
}

#header a:hover {
	opacity: 1;
	color: #fff !important;
}

.is-muted {
	color: lightgrey !important;
}

a:hover {
	color: grey !important;
}

/* DROPDOWN 
.dropdown-menu {
	display: none;
	position: absolute;
	margin-top: 5px;
	border: none;
	left: 0;
	top: 100%;
	z-index: 1000;		
	min-width: 200px;
	text-align: left;
	box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
}

.nav-right .dropdown-item {
	right: 0;
	left: 20;
	padding: 10px 5px;
	display: block;
}

.nav-right .dropdown-menu a:hover {
	
}

.dropdown-menu a:hover {
	background-color: #f3f3f4 !important;
	color: #00FA9A !important;
}
*/
// ROLES
.card {
	width: 30%;
	display: inline-grid;
	margin: 5px;
}