/* ========================================
   	  ============ BODY ===========
   ======================================== */

body, {
	overflow-x: hidden;
	font-family: 'Poppins' 'Open Sans', sans-serif !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background-color: #f3f3f4;
	margin-top: 70px;
	
}

/* ========================================
   	  ============ NAVIGATION ===========
   ======================================== */
nav {
	position: fixed;
	background-color: #00688B;
	text-transform: capitalize !important;	
	font-size: 15px;
	z-index: 1;
	margin-bottom: 0;

	@media only screen and (min-width: 1024px) {
		left: 0;
	}
}

#admin-slideout-button {
	cursor: pointer;
	transition: 0.3s;
	&.active {
		transition: 0.3s;
		transform: rotateY(180deg);
	}
}

nav a {
	color:  #F5F5F5 !important;
	font-size: 15px;
	font-weight: inherit;	
}

nav ul {	
	margin-left: 10rem;
}

nav ul li {
	padding-left: 8rem;
	text-decoration: none;
	display: inline;
	transition: 400ms ease-in-out;
}

nav ul a:hover {
	opacity: 1;	
}

nav ul .dropdown-menu {
	background-color: #00688B;
	margin-left: 14.5rem;
	width: 24vh;
	border: none;
}

nav ul .dropdown-item {
	color:  #F5F5F5 !important;
	text-decoration: none;
	transition: 400ms ease-in-out;
}

nav ul .dropdown-item:hover {
	color: #2F4F4F !important;
	background-color: transparent;
	}

.navbar-toggler {
	border: none;
}


// ROLES
.card {
	width: 30%;
	display: inline-grid;
	margin: 5px;
}

/* ========================================
   	  ============ LOGIN ===========
   ======================================== */
.login-row {
	margin-top: 6rem;
}

#loginForm {
	width: 28rem;	
}

.login-header {
	margin: auto 30px;
}

.login-body {
	text-decoration: none;
	font-weight: bold;
}